* {
	font-family			: 'Droid Sans', sans-serif;
}

#headerpad {
	background-color	: #3669aa;
	height				: 25px;
}

#header {
	height				: 110px;
	background-color	: #6cb647;
}

#header img {
	position			: relative;
	top					: 27px;
	left				: 27px;
}

#subheader {
	height				: 25px;
	background-color	: #51975b;
	padding-left		: 20px;
}

#subheader * {
	color				: #f6ff00;
}

#subheader a {
	margin-right		: 35px;
	font-size			: 14px;
	text-decoration		: none;
	position			: relative;
	top					: 2px;
}

#footer {
	position			: fixed;
	left				: 50%;
	bottom				: 0px;
	margin-left			: -573px;
	background-color	: #3669aa;
	height				: 25px;
	width				: 1146px;
	text-align			: center;
}

#footercontent {
	position 			: relative;
	left				: 10px;
	top					: 4px;
	text-align			: left;
}

#footercontent, #footercontent * {
	color				: #f6ff00;
	font-size			: 13px;
}

body {
	margin				: 0px;
	padding				: 0px;
	text-align			: center;
	background-color	: #3669aa;
	background-image	: url(../graphics/page-backdrop.gif);
	background-position	: top center;
	background-repeat	: repeat-y;
	margin-bottom		: 50px;
}

#content {
	width 				: 1146px;
	margin				: 0px auto;
	text-align			: left;
	background-color	: #fff;
}

#contentheader {
	font-size			: 16px;
}

#contentheader h2 {
	font-size			: 18px;
	color				: #51975b;
	font-weight			: normal;
	margin				: 0px;
}

#contentheader p {
	margin				: 0px;
}

#subcontent {
	padding				: 25px;
}

.centerdiv {
	margin				: 0px;
	padding				: 0px;
	text-align			: center;
}

#loginholder {
	width 				: 400px;
	border				: 1px solid #85b1de;
	height				: 85px;
	padding				: 25px;
	margin 				: 0px auto;
}

#loginholder input[type=text], #loginholder input[type=password] {
	width				: 280px;
	height				: 25px;
	-moz-border-radius	: 3px; 
	-webkit-border-radius	: 3px;
	border				: 1px solid #85b1de;
	background-image	: url(../graphics/trainsmart-gradient.gif);

	float				: left;
	margin				: 2px 0 20px 10px;
}

.calendarbox {
	background-image	: url(../graphics/trainsmart-gradient-calendar.gif) !important;
	background-position	: right;
	cursor				: default;
}

#loginholder label {
	display				: block;
	text-align			: right;
	width				: 90px;
	float				: left;
	margin-right		: 15px;
	margin-top			: 4px;
}

.rightdiv {
	float				: right;
	text-align			: right;
}

.pad10 {
	width				: 10px;
	height				: 10px;
}

.pad20 {
	width				: 20px;
	height				: 20px;
}

.pad50 {
	width				: 50px;
	height				: 50px;
}

.pad100 {
	width				: 100px;
	height				: 100px;
}

.clear {
	clear				: both;
}

.dataTables_wrapper * {
	font-size			: 13px !important;
}

.ui-datepicker-div * {
	font-size			: 11px !important;
}

.mainformholder {
	width				: 500px;
}

.mainformholder label {
	display				: block;
	text-align			: right;
	width				: 210px;
	float				: left;
	margin-right		: 15px;
	margin-top			: 4px;
	font-size			: 14px;
}

.mainformholder input[type=text], .mainformholder input[type=password], .mainformholder select {
	width				: 250px;
	float				: left;
	margin-left			: 25px;
	height				: 25px;
	-moz-border-radius	: 3px; 
	-webkit-border-radius	: 3px;
	border				: 1px solid #85b1de;
	background-image	: url(../graphics/trainsmart-gradient.gif);
	margin-bottom		: 10px;
}
